{% extends 'base.html.twig' %}

{% block title %}Notre équipe!{% endblock %}

{% block body %}

    <div class="formulaire pt-5">
        <h1 class="tittle"> Le projet </h1>
    </div>

    <div class="d-flex text-center justify-content-center flex-wrap ">
        <div class="cadre-shadow my-3 mx-3">
            <b>Activity Sharing, qu'est-ce que c'est ?</b><br>
            <p>Enim ea non et non. Tenetur quas qui aut fuga. Similique excepturi rem odit tenetur quod sequi blanditiis in. Voluptatum magni voluptas alias itaque rerum commodi voluptatem quae. Facere et laudantium repellat quaerat ut quam. Cum animi quidem quo. <br>
            Qui dignissimos dolorem maiores qui veniam a voluptatem. Cupiditate reiciendis mollitia repellendus adipisci aut et at asperiores. Quibusdam distinctio eius consectetur in ut qui. Maiores et suscipit blanditiis aut quisquam. In dolor enim aut minima. Reiciendis corporis est. <br>
            Repellat atque dolorem consectetur esse aut. Tempora et magnam. Rerum consectetur quia aut illum maxime nulla velit veritatis provident. Dignissimos doloremque sit in modi dolor aut. Dolores sapiente sed facilis illum rerum fuga dolor.</p>
        </div>
    </div>
    
    
    
    
    <div class="formulaire pt-5">
        <h1 class="tittle"> L'équipe </h1>
    </div>

    <div class="d-flex text-center justify-content-center flex-wrap team">
        <div class="team_member cadre-shadow my-3">
            <div>
                <img src="img/kouki-walim-kqws04cnnpQ-unsplash.jpg" alt="team_img">
            </div>
            <h3> Victor STUTZ </h3>
            <p class="role"> Développeur </p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas soluta laborum dolor odio magni,
                laudantium quidem molestiae beatae suscipit quia ratione temporibus eaque minus fugit autem, consectetur
                unde assumenda dolores!</p>
            
        </div>
        <div class="team_member cadre-shadow my-3">
            <div>
                <img src="img/celine-ruiz-rr4bawLxOjc-unsplash.jpg" alt="team_img">
            </div>
            <h3> Coralie BURTIN </h3>
            <p class="role"> Développeuse </p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas soluta laborum dolor odio magni,
                laudantium quidem molestiae beatae suscipit quia ratione temporibus eaque minus fugit autem, consectetur
                unde assumenda dolores!</p>
            
        </div>
        <div class="team_member cadre-shadow my-3">
            <div>
                <img src="img/lizgrin-f-eR03P_ILRS0-unsplash (1).jpg" alt="team_img">
            </div>
            <h3> Grégory DUMONT </h3>
            <p class="role"> Développeur </p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas soluta laborum dolor odio magni,
                laudantium quidem molestiae beatae suscipit quia ratione temporibus eaque minus fugit autem, consectetur
                unde assumenda dolores!</p>
            
        </div>
    </div>

{% endblock %}
