{{ form_start(form, {"attr": {"id": "forminscription" }}) }}
    {{ form_widget(form) }}
    <br>
    <button class="big-btn1" id="inscriptionbt">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
