
{{ form_start(form, {"attr": {"id": "forminscription" }}) }}
    {{ form_widget(form) }}
    <button class="btn" id="inscriptionbt">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
