<p>Pour le bon fonctionnement du site, assurez-vous que le groupe que vous créez correspond aux "préférences" (activités + moments + localisation) que vous avez renseignées sur votre profil. Merci !</p>
{{ form_start(form, {"attr": {"id": "forminscription" }}) }}
    {{ form_widget(form) }}
    <br>
    <button class="big-btn1" id="inscriptionbt">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
