{{ form_start(form, {"attr": {"id": "form-inscription" }}) }}
    {{ form_widget(form) }}
    <button class="btn" id="inscription-bt">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
