{% extends 'base.html.twig' %}

{% block title %}Edit Membre{% endblock %}

{% block body %}
<a href="{{ path('membre_index') }}" class="small-btn">Retour</a>
<div class="formulaire1">
    <h1 class="tittle">Modifier le membre</h1>
    <br>
    {{ form(form) }}
    <br>
</div>


{{ include('membre/_delete_form.html.twig') }}
{% endblock %}