{% extends 'base.html.twig' %}

{% block title %}New Membre{% endblock %}

{% block body %}
    <h1>Ajouter un membre</h1>

    {{ include('membre/_form.html.twig') }}

    <a href="{{ path('membre_index') }}">Retour</a>
{% endblock %}
