{% extends 'base.html.twig' %}

{% block title %}Edit Moment{% endblock %}

{% block body %}

<div class="formulaire1">
    <br>
    <h1 class="tittle">Modifier le moment</h1>
    <br>
    {{ include('moment/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    <br>
</div>

<a href="{{ path('profile') }}">Retour</a>
{{ include('moment/_delete_form.html.twig') }}

{% endblock %}