{% extends 'base-admin.html.twig' %}

{% block title %}Edit ActiviteCategorie{% endblock %}

{% block body %}
    <h1>Edit ActiviteCategorie</h1>

    {{ include('activite_categorie/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('activite_categorie_index') }}">back to list</a>

    {{ include('activite_categorie/_delete_form.html.twig') }}
{% endblock %}
