<form method="post" action="{{ path('badge_delete', {'id': badge.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer le badge ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ badge.id) }}">
    <button class="btn">Supprimer</button>
</form>
