{% extends 'base-admin.html.twig' %}

{% block title %}New Badge{% endblock %}

{% block body %}
    <a href="{{ path('badge_index') }}" class="small-btn">Retour</a>
    <div class="formulaire1">
    <h1>Créer un nouveau badge</h1>

    {{ include('badge/_form.html.twig') }}

    </div>
{% endblock %}
