{% extends 'base.html.twig' %}

{% block title %}Modifier l'article{% endblock %}

{% block body %}
    <h1>Modifier l'article</h1>

    {{ include('article_accueil/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('article_accueil_index') }}">Retour</a>

    {{ include('article_accueil/_delete_form.html.twig') }}
{% endblock %}
