{% extends 'base.html.twig' %}

{% block title %}New ArticleAccueil{% endblock %}

{% block body %}
    <h1>Create new ArticleAccueil</h1>

    {{ include('article_accueil/_form.html.twig') }}

    <a href="{{ path('article_accueil_index') }}">back to list</a>
{% endblock %}
