{% extends 'base-admin.html.twig' %}

{% block title %}Nouvel article{% endblock %}

{% block body %}
    <h1>Nouvel article</h1>

    {{ include('article_accueil/_form.html.twig') }}

    <a href="{{ path('article_accueil_index') }}">Retour</a>
{% endblock %}
