{% extends 'base-admin.html.twig' %}

{% block title %}New Activite{% endblock %}

{% block body %}
    <a href="{{ path('activite_index') }}" class="small-btn">Retour</a>
<div class="formulaire1">
    <h1>Créer une activité</h1>

    {{ include('activite/_form.html.twig') }}

    </div>
{% endblock %}
