<form method="post" action="{{ path('message_contact_delete', {'id': message_contact.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce message ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ message_contact.id) }}">
    <button class="small-btn">Supprimer</button>
</form>
