{% extends 'base.html.twig' %}

{% block title %}New Message Contact{% endblock %}

{% block body %}
    <h1>Créer new Message Contact</h1>

    {{ include('message_contact/_form.html.twig') }}

    <a href="{{ path('message_contact_index') }}">back to list</a>
{% endblock %}
