{% extends 'base-admin.html.twig' %}

{% block title %}New Message Contact{% endblock %}

{% block body %}
    <a href="{{ path('message_contact_index') }}" class="small-btn">Retour</a>
    <div class="formulaire1">
    <h1>Créer un message</h1>

    {{ include('message_contact/_form.html.twig') }}
    </div>
{% endblock %}
