{% extends 'base.html.twig' %}


{% block body %}
    

{{ form_start(form) }}
    <h1>Create new Message Contact</h1>

    {{ form_widget(form) }}
    <br>
    <button class="big-btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
    

    




{# <section class="formulaire">
        <h1 class="tittle">Formulaire de contact</h1>
        <br>
        <form>
            <div class="form-group">
                <input type="text" class="form-control" id="nom" placeholder="Nom">
            </div>
            <br>
            <div class="form-group">
                <input type="text" class="form-control" id="prenom" placeholder="Prénom">
            </div>
            <br>
            <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="Adresse email">
            </div>
            <br>
            <div class="form-group">
                <input type="text" class="form-control" id="telephone" placeholder="Téléphone">
            </div>
            <br>
            <div class="form-group">
                <textarea class="form-control" id="message" rows="3" placeholder="Message"></textarea>
            </div>
            <br>
            <button type="submit" class="big-btn">Envoyer</button>  
            
        </form>
        
    </section> #}


{% endblock %}
