{% apply inline_css %}
<style>
    body {
        font-size: 20px;
    }
    h1 {
        color: rgb(63, 72, 102);
    }
    p {
        color: rgb(74, 74, 190);
    }
</style>
<body>
    <h1>Bonjour ! &#128512</h1>

    <p>
       Nous avons bien reçu ton message ! 
       
    <p>
       clique <a href="www.activity-sharing.fr/inscription">ici</a> pour rejoindre notre communauté
       
    </p>
    
    <p>
         si tu es déjà des notres, clique <a href="www.activity-sharing.fr/login">ici</a> pour accèder à ton espace personnel
        
    </p>
    <p>
        Bonne journée mon pote ! &#128536
    </p>
   

   
    <p>© 2021 Copyright: Activity Sharing</p>
</body>
{% endapply %}
