{% apply inline_css %}
<style>
    body {
        font-size: 20px;
    }
    h1 {
        color: rgb(63, 72, 102);
    }
    p {
        color: rgb(74, 74, 190);
    }
</style>
<body>
    <h1>Welcome ! &#128512</h1>

    <p>
       Vous avez une nouvelle invitation à une activité ! 
       Prépare toi à vivre un moment inoubliable 
    </p>
    
    
    <p>
        clique <a href="www.activity-sharing.fr/login">ici</a> pour accèder à ton espace personnel
        
    </p>
    <p>
        Bonne journée mon pote ! &#128536
    </p>
   

   
    <p>© 2021 Copyright: Activity Sharing</p>
</body>
{% endapply %}


    