{% extends 'base.html.twig' %}



{% block body %}
{% apply inline_css %}
    <style>
        {# here, define your CSS styles as usual #}
        h1 {
            color: #333;
        }
    </style>

    
    <h1>Hello {{ username }}!</h1>

        <p>
            Vous avez une invitation pour participer à une nouvelle activité !
        </p>
        
        
        <p>
            <a href="#">Cliquez ici pour vous connecter</a>
            Bonne journée à toi :-)
        </p>
{% endapply %}
{% endblock %}
